<div id="card">
  <div id="card-content">
    <div class="card-image">
      <h2>Sultan</h2>

    </div>

    <div class="text">
      <p class="txt-style">Create New Account</p>
    </div>
    <form (ngSubmit)="onSubmit()" class="form" ngNativeValidate>



      <div class="inner-addon left-addon">
        <i class="bi bi-envelope glyphicon glyphicon-user green"></i>
        <input class="form-control py-2 rounded-pill mr-1 pr-5 form-rounded" required="true"
          [(ngModel)]="credentials.email" name="email" type="email" placeholder="Email" id="example-search-input">

      </div>

      <div class="text-bottom">
        <p class="txt-style">Or</p>
      </div>


      <div class="inner-addon left-addon" style="padding-top:20px ;">
        <i class="bi bi-telephone glyphicon glyphicon-user green"></i>
        <input class="form-control py-2 rounded-pill mr-1 pr-5 form-rounded" required="true" name="phone" type="tel"
          placeholder="Phone" id="example-search-input">

      </div>

      






      <div class="login">
        <input id="submit-btn" type="submit" name="submit" value="Sign Up Using OTP" />

      </div>
    </form>

    <div class="text-bottom">
      <p class="txt-style">Already have an account?
        <a routerLink="/login" style="color: #2EBBB3;">Sign in</a>
      </p>
    </div>