<div id="card">
  <div id="card-content">
    <div id="card-title">
      <div class="nav">
        <div class="name"></div>
        <p class="txt-style">Sultan</p> <br> <img src="assets/Sultan2.jpeg" alt="" class="top-img">
        <br>
        <div class="buttons" style="padding-bottom: 10px;">
          <input id="submit-btn1" type="submit" (click)="onSubmitLogin()" style="align-items: left;" name="submit"
            value="Sign in" />
          <input id="submit-btn2" type="submit" (click)="onSubmitSignUp()" name="submit" value="Sign up" />
        </div>
        <div class="mainb"></div>
        <div class="section">
          <div id="sec1"><img src="assets/tinder.jpeg" width="70px" height="70px"></div>
          <div id="sec2"><img src="assets/job.jpeg" width="70px" height="70px"></div>
          <div id="sec3"><img src="assets/networking.jpeg" width="70px" height="70px"></div>
          <div class="write"></div>
          <div id="sec4">Tinder Swiping and Chat</div>
          <div id="sec5">Job Search Preparation</div>
          <div id="sec6">Networking Preparation</div>
          <div class="footer">
            <img src="assets/footer.jpeg" width="420px" height="200px">
          </div>
          <div class="last">
            <div class="last">

              <div class="bottom-bar-element">
                <i class="material-icons">home</i><br>
                <a href="#"> <span>Home</span></a>
              </div>
              <div class="bottom-bar-element">
                <i class="material-icons">listalt</i><br>
                <a href="#"><span>Vendor</span></a>
              </div>
              <div class="bottom-bar-element">
                <i class="material-icons">favorite</i><br>
                <a href="#"><span>Inspiration</span></a>
              </div>
              <div class="bottom-bar-element">
                <i class="material-icons">person</i><br>
                <a href="#"><span>Profile</span></a>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>