<div id="card">
    <div id="card-content">
        <div id="card-title">
            <div class="nav">
                <div class="arrow" style="width: 50vw;">&larr;</div>
                <div class="name" style="width: 40vw;">Payment</div>
            </div>

            <div class="first-buttons">

                <button mat-stroked-button>Bank Transfer</button>
                <button mat-stroked-button>Cards</button>
            </div>

            <br>
            <div class="second-buttons">
                <button mat-stroked-button>Retail Outlets</button>
                <button mat-stroked-button>Wallets</button>
            </div>

            <div class="last">

                <div class="bottom-bar-element">
                    <i class="material-icons">home</i><br>
                    <a href=""> <span>Home</span></a>
                </div>
                <div class="bottom-bar-element">
                    <i class="material-icons">listalt</i><br>
                    <span>Vendor</span>
                </div>
                <div class="bottom-bar-element">
                    <i class="material-icons">favorite</i><br>
                    <span>Inspiration</span>
                </div>
                <div class="bottom-bar-element">
                    <i class="material-icons">person</i><br>
                    <span>Profile</span>
                </div>

            </div>


        </div>
    </div>
</div>