<div id="card">
  <div id="card-content">
    <div id="card-title">
      <div class="nav">
        <div class="arrow" style="width: 50vw;">&larr;</div>
        <div class="name" style="width: 50vw;">TINDER SWIPPING AND CHATING</div>



      </div>
      <div class="mainb">
        <img src="assets/tinderbackground.jpeg" style="padding-top: 20px; padding-bottom: 30px;" width="440px"
          height="270px">
      </div>
      <div class="section">
        <div class="write">
          <p>DETAILS</p>
          <li>
            <ul>30 tinder swipe for you</ul>
            <ul>3 person to chat with</ul>
          </li>
          <p style="padding-top: 30px;">Estimate Time 1 hour</p>
        </div>
        <p style="padding-top: 10px; padding-right: 20px; font-size: small;">We will provide screentshots of the service
          provided.</p>
        <p style="padding-top: 10px; padding-right: 200px; font-size: small;">Price: Rp 50,000</p>
      </div>
      <div>
        <span><input id="submit-btn1" type="submit" name="submit" value="Chat" (click) = "onSubmit()"s /></span>
        <span><input id="submit-btn2" type="submit" name="submit" value="Order now" /></span>
      </div>

      <div class="last">
        <div class="last">

          <div class="bottom-bar-element">
            <i class="material-icons">home</i><br>
            <a href="#"> <span>Home</span></a>
          </div>
          <div class="bottom-bar-element">
            <i class="material-icons">listalt</i><br>
            <a href="#"><span>Vendor</span></a>
          </div>
          <div class="bottom-bar-element">
            <i class="material-icons">favorite</i><br>
            <a href="#"><span>Inspiration</span></a>
          </div>
          <div class="bottom-bar-element">
            <i class="material-icons">person</i><br>
            <a href="#"><span>Profile</span></a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>