<div id="card">
  <div id="card-content">

    <div class="container">

      <h2>Sultan</h2>

    </div>

    <div class="reset-txt">

      <p class="txt-style">Reset Password</p>

    </div>
    <form action="">
      <div class="inner-addon left-addon" style="padding-top: 10px;">
        <i class="bi bi-envelope glyphicon glyphicon-user green"></i>
        <input class="form-control py-2 rounded-pill mr-1 pr-5 form-rounded" required="true" name="email" type="email"
          placeholder="Email" id="example-search-input">

      </div>



      <div class="btn-container">
        <button name="newAccount" id="submit-btn">
          <p style="margin-top
        :10px">Get Reset Email</p>
        </button>
      </div>
    </form>




  </div>
</div>